.ui-datepicker {
  background: #F4F1F1;
  font-family: font_text;
  text-transform: uppercase;
  font-size:20px;
  padding:10px;
  border:1px black;
  display: none;
}

.ui-datepicker table {
  width:278px;
}

.ui-datepicker table td {
  text-align:center;
}

.ui-datepicker a {
  cursor:pointer;
  text-decoration:none;
  color: #494848;
}
.ui-icon {
  font-family: font_icons !important;
}
.ui-icon:hover, .ui-icon:focus {
  color: #494848
}
.ui-datepicker-calendar td{
  cursor: pointer;
}
.ui-datepicker-calendar td:hover, td:active, td:focus {
  background: #c3c0c0;
}

.ui-datepicker-current-day {
  background: #c3c0c0;
}
.ui-datepicker-prev {
  color: black !important;
}

.ui-datepicker-next {
  color: black !important;
  float:right;
}

.ui-datepicker-title {
  text-align: center;
  font-weight:bold;
}
