@font-face {
font-family: font_text;
src: url(fonts/Letters_for_Learners.ttf);
}
@font-face {
font-family: font_icons;
src: url(fonts/Icons_South_St.ttf);
}
@font-face {
font-family: font_icons2;
src: url(fonts/MyFont-normal.otf);
}

*:hover, *:focus {
  outline: none !important;
  /*rimuove linee blu di selezione in chrome*/
}

div{
  display: block;
}
body {
  background-color: #F4F1F1;
}

.navbar {
  position:relative;
  font-size:30px;
  background-color:#5f5f5f;
  color:white;
  width:98.5%;
  padding:10px 15px 60px 15px !important;
  font-family: font_text;
}
.navbar a {
  padding:10px 15px 10px 15px !important;
  text-decoration: none !important;
  color: white;
  font-size:30px;
}
.navbar button {
  font-family: font_icons2;
  height: 50px;
  background-color: #5f5f5f;
  border: none;
  border-radius: 25px;
  color:white;
  font-size: 50px;

}
.navbar a:hover, a:active, a:focus, button:hover, button:focus, button:active {
  background-color: black;
}

.navbar-right {
  float: right !important;
}
.navbar-left {
  float: left !important;
}

.err404, .ban {
  font-family: font_text;
  color:black;
  text-align: center;
}

h1.err404, h1.ban {
  font-size: 50px;
}
h2.err404, h2.ban {
  font-size: 35px;
}
.button {
  font-family: font_text;
  font-size: 35px;
  height: 50px;
  color: white;
  background-color: #5f5f5f;
  border: none;
  text-align: center;
  position: center;
  border-radius: 25px;
}

.search {
  font-family: font_text;
  color: white;
  position: fixed;
  top: 25%;
  left: 10%;
  width: 80%;
  height: 50%;
  z-index: 101;
  display: none;
}
.search_text {
  font-size: 35px;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 25px;
  height: 50px;
  background-color: whitesmoke;
  color: black;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
#span {
  position: absolute;
  right: 32%;
  top: 28%;
}
