
@color_1: white;
@color_2: black;
@color_3: whitesmoke;
@background_color: #F4F1F1;
@element_color: #5f5f5f;
@element_colorD: darken(@element_color, 50%);
@element_colorL: lighten(@element_color, 30%);
@error_color: desaturate(red, 50%);
@background_color_5: whitesmoke;

@font: font-family;

@font-face {
	@{font}: text;
	src: url(fonts/Letters_for_Learners.ttf);
}
@font-face {
	@{font}: icons;
	src: url(fonts/Icons_South_St.ttf);
}
@font-face {
	@{font}: icons2;
	src: url(fonts/MyFont-normal.otf);
}

* {
	&:hover {
		outline: none !important;
	}
	&:focus {
		outline: none !important;
	}
}

div {
	display: block;
}
body {
	background-color: @background_color;
}



	.btn {
		@{font}: text;
		font-size: 35px;
		background-color: @element_color;
		border: none;
		border-radius: 15px;
		color: @color_1;
		text-align: center;
		padding: 10px 15px 10px 15px;
	}
	.txt {
		@{font}: text;
		font-size: 35px;
		color: @color_2;
		border: none;
		padding: 10px 15px 10px 15px;
	}

.buttonIcon:extend(.btn) {
	@{font}: icons2;
	border-radius: 0px;
	font-size: 50px !important;
	padding: 0px 15px 0px 15px !important;
}
.searchLensMoz {
	display:none;
	padding: none !important;
}
@-moz-document url-prefix() { //mozzilla only
}
.icon {
	@font: icons;
	font-size: 50px;
	color: white;
}
.navbar {
	position: fixed;
	font-size: 30px;
	background-color: @element_color;
	color: @color_1;
	padding: 10px 15px 10px 15px;
	width: 98%; /*da sistemare per risoluzioni diverse*/
	@{font}: text;
	a {
		padding: 10px 15px 10px 15px;
		text-decoration: none !important;
		color: @color_1;
		font-size: 30px;
		&:hover {
			background-color: @element_colorD;
		}
		&:focus {
			background-color: @element_colorD;
		}
		&:active {
			background-color: @element_colorD;
		}
	}
}
.navbar-right {
	float: right !important;
}
.navbar-left {
	float: left !important;
}

button {
	&:hover {
		background-color: @element_colorD;
	}
	&:focus {
		background-color: @element_colorD;
	}
	&:active {
		background-color: @element_colorD;
	}
}

.textInput:extend(.txt) {
	&:hover {
		background-color: @element_colorD;
	}
	&:active {
		background-color: @element_colorD;
	}
	&:focus {
		background-color: @element_colorD;
	}
	@{font}: text;
	color: @color_1;
	background-color: @element_color;
	text-align: center;
	border-radius: 15px;
}

.ban:extend(.txt) {
	text-align: center;
}
h1.ban {
	font-size: 50px;
}
.err404:extend(.txt) {
	text-align: center;
}
h1.err404 {
		font-size: 50px;
		font-weight: bold;
}

.button:extend(.btn) {
	color: @color_1;
	position: center;
}
.noteButton:extend(.btn) {
	position: fixed;
	bottom: 85px;
	right: 5px;
}
.warn:extend(.txt) {
	background-color: @error_color;
	text-align: center;
	border-radius: 15px;
	position: absolute;
	top: 100px;
	right: 0%;
}
.search {
	@{font}: text;
	color: @color_1;
	position: fixed;
	top: 20%;
	left: 10%;
	width: 80%;
	height: 50%;
	z-index: 101;
	display: none;
}
.search_text {
	@{font}: text;
	font-size: 40px;
	padding: 10px 15px 10px 15px;
	border: none;
	border-radius: 25px;
	height: 50px;
	background-color: @background_color_5;
	color: @color_2;
	width: 70%;
	position: absolute;
	left: 15%;
	&:hover {
		background-color: @element_colorL;
	}
	&:active {
		background-color: @element_colorL;
	}
	&:focus {
		background-color: @element_colorL;
	}
}
.search_checkbox {
	font-size: 35px;
	padding: 10px 15px 10px 15px;
	color: @color_3;
	width: 50%;
	position: absolute;
}
.search_button:extend(.btn) {
	background-color: @background_color_5;
	color: @color_2;
	position: absolute;
	&:hover {
		background-color: @element_colorL;
	}
	&:active {
		background-color: @element_colorL;
	}
	&:focus {
		background-color: @element_colorL;
	}
}
.overlay {
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, 0.9);;
}
.filtro {
	position: absolute;
	font-size: 35px;
}

.noteInfoDisplay {
	@{font}: text !important;
	color: @color_2;
}


.delNoteButton:extend(.btn) {
}

.delCommentBtn:extend(.btn) {
	display: none;
	position: absolute;
	left: 87%;
	font-size: 18px;
	padding: 1px 7px 1px 7px;
}

.scriviNota {
	@{font}: text;
	font-size: 35px;
}
.scriviNotaText:extend(.txt) {
	width: 70%;
	border-radius: 15px;
	padding: 5px 0px 5px 0px;
	background-color: darken(whitesmoke, 10%);
	&:hover{background-color: @element_colorL}
	&:focus{background-color: @element_colorL}
	&:active{background-color: @element_colorL}
}
.scriviNotaElenco:extend(.scriviNotaText) {
	width: 50%;
	&:hover{background-color: @element_colorL}
	&:focus{background-color: @element_colorL}
	&:active{background-color: @element_colorL}
}
.scriviNotaTextArea:extend(.scriviNotaText) {
	width: 90%;
	font-size: 20px;
	&:hover{background-color: @element_colorL}
	&:focus{background-color: @element_colorL}
	&:active{background-color: @element_colorL}
}
.opz {
	@{font}: text;
	font-size: 20px;
	padding: 5px 0px 5px 0px;
}
.opzM:extend(.opz) {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(dropdown.ico) right / 20px no-repeat #fff;
	padding-right: 20px;
	padding: 5px 0px 5px 0px;
}
.noteInfoDisplay {
  overflow: hidden;
      width: 100%;
}
.noteInfo {
  float: left;
  width: 19%;
  padding-bottom: 500em;
  margin-bottom: -500em;
	font-size: 25px;
}
.noteContent {
  float: left;
  width: 80%;
  margin-right: -1px; /* Thank you IE */
  padding-bottom: 500em;
  margin-bottom: -500em;
	font-size: 25px;
}
.noteHeaderTtl {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
.risultati:extend(.txt) {
	padding: 5px 0px 5px 0px;
	a {
		display: block;
		text-decoration: none;
		font-weight: bold;
		color: black;
		border-color: darken(@element_color, 25%) !important;
		border: solid;
		border-radius: 15px;
		padding: 10px 15px 10px 15px;
		&:hover {
			background-color: @element_colorL;
		}
		&:active {
			background-color: @element_colorL;
		}
	}
}
.comments:extend(.txt){
	font-size: 20px;
}
.commentBtn:extend(.btn){
}
.commentTxt:extend(.txt){
	border-radius: 15px;
	border: solid;
	border-color: @element_color;
	&:hover {
		background-color: @element_colorL;
	}
	&:active {
		background-color: @element_colorL;
	}
	&:focus {
		background-color: @element_colorL;
	}
}

&::placeholder {
	color: @color_1;
	opacity: 1;
}
&:-ms-input-placeholder {
	color: @color_1;
}
&::-ms-input-placeholder {
	color: @color_1;
}

#span {
	position: absolute;
	right: 32%;
	top: 28%;
}
#greet {
	@{font}: text;
	font-size: 30px;
	color: @color_1;
	position: fixed;
	top: 4%;
	left: 40%;
}
