
.absolute {position: absolute;}
.relative {position: relative;}
.sticky {position: sticky;}
.center {align-items: center;}
.invisible{display:none;}

.top0 {top: 0%;}
.top1 {top: 1%;}
.top2 {top: 2%;}
.top3 {top: 3%;}
.top4 {top: 4%;}
.top5 {top: 5%;}
.top6 {top: 6%;}
.top7 {top: 7%;}
.top8 {top: 8%;}
.top9 {top: 9%;}
.top10 {top: 10%;}
.top11 {top: 11%;}
.top12 {top: 12%;}
.top13 {top: 13%;}
.top14 {top: 14%;}
.top15 {top: 15%;}
.top16 {top: 16%;}
.top17 {top: 17%;}
.top18 {top: 18%;}
.top19 {top: 19%;}
.top20 {top: 20%;}
.top21 {top: 21%;}
.top22 {top: 22%;}
.top23 {top: 23%;}
.top24 {top: 24%;}
.top25 {top: 25%;}
.top26 {top: 26%;}
.top27 {top: 27%;}
.top28 {top: 28%;}
.top29 {top: 29%;}
.top30 {top: 30%;}
.top31 {top: 31%;}
.top32 {top: 32%;}
.top33 {top: 33%;}
.top34 {top: 34%;}
.top35 {top: 35%;}
.top36 {top: 36%;}
.top37 {top: 37%;}
.top38 {top: 38%;}
.top39 {top: 39%;}
.top40 {top: 40%;}
.top41 {top: 41%;}
.top42 {top: 42%;}
.top43 {top: 43%;}
.top44 {top: 44%;}
.top45 {top: 45%;}
.top46 {top: 46%;}
.top47 {top: 47%;}
.top48 {top: 48%;}
.top49 {top: 49%;}
.top50 {top: 50%;}
.top51 {top: 51%;}
.top52 {top: 52%;}
.top53 {top: 53%;}
.top54 {top: 54%;}
.top55 {top: 55%;}
.top56 {top: 56%;}
.top57 {top: 57%;}
.top58 {top: 58%;}
.top59 {top: 59%;}
.top60 {top: 60%;}
.top61 {top: 61%;}
.top62 {top: 62%;}
.top63 {top: 63%;}
.top64 {top: 64%;}
.top65 {top: 65%;}
.top66 {top: 66%;}
.top67 {top: 67%;}
.top68 {top: 68%;}
.top69 {top: 69%;}
.top70 {top: 70%;}
.top71 {top: 71%;}
.top72 {top: 72%;}
.top73 {top: 73%;}
.top74 {top: 74%;}
.top75 {top: 75%;}
.top76 {top: 76%;}
.top77 {top: 77%;}
.top78 {top: 78%;}
.top79 {top: 79%;}
.top80 {top: 80%;}
.top81 {top: 81%;}
.top82 {top: 82%;}
.top83 {top: 83%;}
.top84 {top: 84%;}
.top85 {top: 85%;}
.top86 {top: 86%;}
.top87 {top: 87%;}
.top88 {top: 88%;}
.top89 {top: 89%;}
.top90 {top: 90%;}
.top91 {top: 91%;}
.top92 {top: 92%;}
.top93 {top: 93%;}
.top94 {top: 94%;}
.top95 {top: 95%;}
.top96 {top: 96%;}
.top97 {top: 97%;}
.top98 {top: 98%;}
.top99 {top: 99%;}
.top100 {top: 100%;}

.bottom0 {bottom: 0%;}
.bottom1 {bottom: 1%;}
.bottom2 {bottom: 2%;}
.bottom3 {bottom: 3%;}
.bottom4 {bottom: 4%;}
.bottom5 {bottom: 5%;}
.bottom6 {bottom: 6%;}
.bottom7 {bottom: 7%;}
.bottom8 {bottom: 8%;}
.bottom9 {bottom: 9%;}
.bottom10 {bottom: 10%;}
.bottom11 {bottom: 11%;}
.bottom12 {bottom: 12%;}
.bottom13 {bottom: 13%;}
.bottom14 {bottom: 14%;}
.bottom15 {bottom: 15%;}
.bottom16 {bottom: 16%;}
.bottom17 {bottom: 17%;}
.bottom18 {bottom: 18%;}
.bottom19 {bottom: 19%;}
.bottom20 {bottom: 20%;}
.bottom21 {bottom: 21%;}
.bottom22 {bottom: 22%;}
.bottom23 {bottom: 23%;}
.bottom24 {bottom: 24%;}
.bottom25 {bottom: 25%;}
.bottom26 {bottom: 26%;}
.bottom27 {bottom: 27%;}
.bottom28 {bottom: 28%;}
.bottom29 {bottom: 29%;}
.bottom30 {bottom: 30%;}
.bottom31 {bottom: 31%;}
.bottom32 {bottom: 32%;}
.bottom33 {bottom: 33%;}
.bottom34 {bottom: 34%;}
.bottom35 {bottom: 35%;}
.bottom36 {bottom: 36%;}
.bottom37 {bottom: 37%;}
.bottom38 {bottom: 38%;}
.bottom39 {bottom: 39%;}
.bottom40 {bottom: 40%;}
.bottom41 {bottom: 41%;}
.bottom42 {bottom: 42%;}
.bottom43 {bottom: 43%;}
.bottom44 {bottom: 44%;}
.bottom45 {bottom: 45%;}
.bottom46 {bottom: 46%;}
.bottom47 {bottom: 47%;}
.bottom48 {bottom: 48%;}
.bottom49 {bottom: 49%;}
.bottom50 {bottom: 50%;}
.bottom51 {bottom: 51%;}
.bottom52 {bottom: 52%;}
.bottom53 {bottom: 53%;}
.bottom54 {bottom: 54%;}
.bottom55 {bottom: 55%;}
.bottom56 {bottom: 56%;}
.bottom57 {bottom: 57%;}
.bottom58 {bottom: 58%;}
.bottom59 {bottom: 59%;}
.bottom60 {bottom: 60%;}
.bottom61 {bottom: 61%;}
.bottom62 {bottom: 62%;}
.bottom63 {bottom: 63%;}
.bottom64 {bottom: 64%;}
.bottom65 {bottom: 65%;}
.bottom66 {bottom: 66%;}
.bottom67 {bottom: 67%;}
.bottom68 {bottom: 68%;}
.bottom69 {bottom: 69%;}
.bottom70 {bottom: 70%;}
.bottom71 {bottom: 71%;}
.bottom72 {bottom: 72%;}
.bottom73 {bottom: 73%;}
.bottom74 {bottom: 74%;}
.bottom75 {bottom: 75%;}
.bottom76 {bottom: 76%;}
.bottom77 {bottom: 77%;}
.bottom78 {bottom: 78%;}
.bottom79 {bottom: 79%;}
.bottom80 {bottom: 80%;}
.bottom81 {bottom: 81%;}
.bottom82 {bottom: 82%;}
.bottom83 {bottom: 83%;}
.bottom84 {bottom: 84%;}
.bottom85 {bottom: 85%;}
.bottom86 {bottom: 86%;}
.bottom87 {bottom: 87%;}
.bottom88 {bottom: 88%;}
.bottom89 {bottom: 89%;}
.bottom90 {bottom: 90%;}
.bottom91 {bottom: 91%;}
.bottom92 {bottom: 92%;}
.bottom93 {bottom: 93%;}
.bottom94 {bottom: 94%;}
.bottom95 {bottom: 95%;}
.bottom96 {bottom: 96%;}
.bottom97 {bottom: 97%;}
.bottom98 {bottom: 98%;}
.bottom99 {bottom: 99%;}
.bottom100 {bottom: 100%;}

.right0 {right: 0%;}
.right1 {right: 1%;}
.right2 {right: 2%;}
.right3 {right: 3%;}
.right4 {right: 4%;}
.right5 {right: 5%;}
.right6 {right: 6%;}
.right7 {right: 7%;}
.right8 {right: 8%;}
.right9 {right: 9%;}
.right10 {right: 10%;}
.right11 {right: 11%;}
.right12 {right: 12%;}
.right13 {right: 13%;}
.right14 {right: 14%;}
.right15 {right: 15%;}
.right16 {right: 16%;}
.right17 {right: 17%;}
.right18 {right: 18%;}
.right19 {right: 19%;}
.right20 {right: 20%;}
.right21 {right: 21%;}
.right22 {right: 22%;}
.right23 {right: 23%;}
.right24 {right: 24%;}
.right25 {right: 25%;}
.right26 {right: 26%;}
.right27 {right: 27%;}
.right28 {right: 28%;}
.right29 {right: 29%;}
.right30 {right: 30%;}
.right31 {right: 31%;}
.right32 {right: 32%;}
.right33 {right: 33%;}
.right34 {right: 34%;}
.right35 {right: 35%;}
.right36 {right: 36%;}
.right37 {right: 37%;}
.right38 {right: 38%;}
.right39 {right: 39%;}
.right40 {right: 40%;}
.right41 {right: 41%;}
.right42 {right: 42%;}
.right43 {right: 43%;}
.right44 {right: 44%;}
.right45 {right: 45%;}
.right46 {right: 46%;}
.right47 {right: 47%;}
.right48 {right: 48%;}
.right49 {right: 49%;}
.right50 {right: 50%;}
.right51 {right: 51%;}
.right52 {right: 52%;}
.right53 {right: 53%;}
.right54 {right: 54%;}
.right55 {right: 55%;}
.right56 {right: 56%;}
.right57 {right: 57%;}
.right58 {right: 58%;}
.right59 {right: 59%;}
.right60 {right: 60%;}
.right61 {right: 61%;}
.right62 {right: 62%;}
.right63 {right: 63%;}
.right64 {right: 64%;}
.right65 {right: 65%;}
.right66 {right: 66%;}
.right67 {right: 67%;}
.right68 {right: 68%;}
.right69 {right: 69%;}
.right70 {right: 70%;}
.right71 {right: 71%;}
.right72 {right: 72%;}
.right73 {right: 73%;}
.right74 {right: 74%;}
.right75 {right: 75%;}
.right76 {right: 76%;}
.right77 {right: 77%;}
.right78 {right: 78%;}
.right79 {right: 79%;}
.right80 {right: 80%;}
.right81 {right: 81%;}
.right82 {right: 82%;}
.right83 {right: 83%;}
.right84 {right: 84%;}
.right85 {right: 85%;}
.right86 {right: 86%;}
.right87 {right: 87%;}
.right88 {right: 88%;}
.right89 {right: 89%;}
.right90 {right: 90%;}
.right91 {right: 91%;}
.right92 {right: 92%;}
.right93 {right: 93%;}
.right94 {right: 94%;}
.right95 {right: 95%;}
.right96 {right: 96%;}
.right97 {right: 97%;}
.right98 {right: 98%;}
.right99 {right: 99%;}
.right100 {right: 100%;}

.left0 {left: 0%;}
.left1 {left: 1%;}
.left2 {left: 2%;}
.left3 {left: 3%;}
.left4 {left: 4%;}
.left5 {left: 5%;}
.left6 {left: 6%;}
.left7 {left: 7%;}
.left8 {left: 8%;}
.left9 {left: 9%;}
.left10 {left: 10%;}
.left11 {left: 11%;}
.left12 {left: 12%;}
.left13 {left: 13%;}
.left14 {left: 14%;}
.left15 {left: 15%;}
.left16 {left: 16%;}
.left17 {left: 17%;}
.left18 {left: 18%;}
.left19 {left: 19%;}
.left20 {left: 20%;}
.left21 {left: 21%;}
.left22 {left: 22%;}
.left23 {left: 23%;}
.left24 {left: 24%;}
.left25 {left: 25%;}
.left26 {left: 26%;}
.left27 {left: 27%;}
.left28 {left: 28%;}
.left29 {left: 29%;}
.left30 {left: 30%;}
.left31 {left: 31%;}
.left32 {left: 32%;}
.left33 {left: 33%;}
.left34 {left: 34%;}
.left35 {left: 35%;}
.left36 {left: 36%;}
.left37 {left: 37%;}
.left38 {left: 38%;}
.left39 {left: 39%;}
.left40 {left: 40%;}
.left41 {left: 41%;}
.left42 {left: 42%;}
.left43 {left: 43%;}
.left44 {left: 44%;}
.left45 {left: 45%;}
.left46 {left: 46%;}
.left47 {left: 47%;}
.left48 {left: 48%;}
.left49 {left: 49%;}
.left50 {left: 50%;}
.left51 {left: 51%;}
.left52 {left: 52%;}
.left53 {left: 53%;}
.left54 {left: 54%;}
.left55 {left: 55%;}
.left56 {left: 56%;}
.left57 {left: 57%;}
.left58 {left: 58%;}
.left59 {left: 59%;}
.left60 {left: 60%;}
.left61 {left: 61%;}
.left62 {left: 62%;}
.left63 {left: 63%;}
.left64 {left: 64%;}
.left65 {left: 65%;}
.left66 {left: 66%;}
.left67 {left: 67%;}
.left68 {left: 68%;}
.left69 {left: 69%;}
.left70 {left: 70%;}
.left71 {left: 71%;}
.left72 {left: 72%;}
.left73 {left: 73%;}
.left74 {left: 74%;}
.left75 {left: 75%;}
.left76 {left: 76%;}
.left77 {left: 77%;}
.left78 {left: 78%;}
.left79 {left: 79%;}
.left80 {left: 80%;}
.left81 {left: 81%;}
.left82 {left: 82%;}
.left83 {left: 83%;}
.left84 {left: 84%;}
.left85 {left: 85%;}
.left86 {left: 86%;}
.left87 {left: 87%;}
.left88 {left: 88%;}
.left89 {left: 89%;}
.left90 {left: 90%;}
.left91 {left: 91%;}
.left92 {left: 92%;}
.left93 {left: 93%;}
.left94 {left: 94%;}
.left95 {left: 95%;}
.left96 {left: 96%;}
.left97 {left: 97%;}
.left98 {left: 98%;}
.left99 {left: 99%;}
.left100 {left: 100%;}

.height0 {height: 0%;}
.height1 {height: 1%;}
.height2 {height: 2%;}
.height3 {height: 3%;}
.height4 {height: 4%;}
.height5 {height: 5%;}
.height6 {height: 6%;}
.height7 {height: 7%;}
.height8 {height: 8%;}
.height9 {height: 9%;}
.height10 {height: 10%;}
.height11 {height: 11%;}
.height12 {height: 12%;}
.height13 {height: 13%;}
.height14 {height: 14%;}
.height15 {height: 15%;}
.height16 {height: 16%;}
.height17 {height: 17%;}
.height18 {height: 18%;}
.height19 {height: 19%;}
.height20 {height: 20%;}
.height21 {height: 21%;}
.height22 {height: 22%;}
.height23 {height: 23%;}
.height24 {height: 24%;}
.height25 {height: 25%;}
.height26 {height: 26%;}
.height27 {height: 27%;}
.height28 {height: 28%;}
.height29 {height: 29%;}
.height30 {height: 30%;}
.height31 {height: 31%;}
.height32 {height: 32%;}
.height33 {height: 33%;}
.height34 {height: 34%;}
.height35 {height: 35%;}
.height36 {height: 36%;}
.height37 {height: 37%;}
.height38 {height: 38%;}
.height39 {height: 39%;}
.height40 {height: 40%;}
.height41 {height: 41%;}
.height42 {height: 42%;}
.height43 {height: 43%;}
.height44 {height: 44%;}
.height45 {height: 45%;}
.height46 {height: 46%;}
.height47 {height: 47%;}
.height48 {height: 48%;}
.height49 {height: 49%;}
.height50 {height: 50%;}
.height51 {height: 51%;}
.height52 {height: 52%;}
.height53 {height: 53%;}
.height54 {height: 54%;}
.height55 {height: 55%;}
.height56 {height: 56%;}
.height57 {height: 57%;}
.height58 {height: 58%;}
.height59 {height: 59%;}
.height60 {height: 60%;}
.height61 {height: 61%;}
.height62 {height: 62%;}
.height63 {height: 63%;}
.height64 {height: 64%;}
.height65 {height: 65%;}
.height66 {height: 66%;}
.height67 {height: 67%;}
.height68 {height: 68%;}
.height69 {height: 69%;}
.height70 {height: 70%;}
.height71 {height: 71%;}
.height72 {height: 72%;}
.height73 {height: 73%;}
.height74 {height: 74%;}
.height75 {height: 75%;}
.height76 {height: 76%;}
.height77 {height: 77%;}
.height78 {height: 78%;}
.height79 {height: 79%;}
.height80 {height: 80%;}
.height81 {height: 81%;}
.height82 {height: 82%;}
.height83 {height: 83%;}
.height84 {height: 84%;}
.height85 {height: 85%;}
.height86 {height: 86%;}
.height87 {height: 87%;}
.height88 {height: 88%;}
.height89 {height: 89%;}
.height90 {height: 90%;}
.height91 {height: 91%;}
.height92 {height: 92%;}
.height93 {height: 93%;}
.height94 {height: 94%;}
.height95 {height: 95%;}
.height96 {height: 96%;}
.height97 {height: 97%;}
.height98 {height: 98%;}
.height99 {height: 99%;}
.height100 {height: 100%;}

.width0 {width: 0%;}
.width1 {width: 1%;}
.width2 {width: 2%;}
.width3 {width: 3%;}
.width4 {width: 4%;}
.width5 {width: 5%;}
.width6 {width: 6%;}
.width7 {width: 7%;}
.width8 {width: 8%;}
.width9 {width: 9%;}
.width10 {width: 10%;}
.width11 {width: 11%;}
.width12 {width: 12%;}
.width13 {width: 13%;}
.width14 {width: 14%;}
.width15 {width: 15%;}
.width16 {width: 16%;}
.width17 {width: 17%;}
.width18 {width: 18%;}
.width19 {width: 19%;}
.width20 {width: 20%;}
.width21 {width: 21%;}
.width22 {width: 22%;}
.width23 {width: 23%;}
.width24 {width: 24%;}
.width25 {width: 25%;}
.width26 {width: 26%;}
.width27 {width: 27%;}
.width28 {width: 28%;}
.width29 {width: 29%;}
.width30 {width: 30%;}
.width31 {width: 31%;}
.width32 {width: 32%;}
.width33 {width: 33%;}
.width34 {width: 34%;}
.width35 {width: 35%;}
.width36 {width: 36%;}
.width37 {width: 37%;}
.width38 {width: 38%;}
.width39 {width: 39%;}
.width40 {width: 40%;}
.width41 {width: 41%;}
.width42 {width: 42%;}
.width43 {width: 43%;}
.width44 {width: 44%;}
.width45 {width: 45%;}
.width46 {width: 46%;}
.width47 {width: 47%;}
.width48 {width: 48%;}
.width49 {width: 49%;}
.width50 {width: 50%;}
.width51 {width: 51%;}
.width52 {width: 52%;}
.width53 {width: 53%;}
.width54 {width: 54%;}
.width55 {width: 55%;}
.width56 {width: 56%;}
.width57 {width: 57%;}
.width58 {width: 58%;}
.width59 {width: 59%;}
.width60 {width: 60%;}
.width61 {width: 61%;}
.width62 {width: 62%;}
.width63 {width: 63%;}
.width64 {width: 64%;}
.width65 {width: 65%;}
.width66 {width: 66%;}
.width67 {width: 67%;}
.width68 {width: 68%;}
.width69 {width: 69%;}
.width70 {width: 70%;}
.width71 {width: 71%;}
.width72 {width: 72%;}
.width73 {width: 73%;}
.width74 {width: 74%;}
.width75 {width: 75%;}
.width76 {width: 76%;}
.width77 {width: 77%;}
.width78 {width: 78%;}
.width79 {width: 79%;}
.width80 {width: 80%;}
.width81 {width: 81%;}
.width82 {width: 82%;}
.width83 {width: 83%;}
.width84 {width: 84%;}
.width85 {width: 85%;}
.width86 {width: 86%;}
.width87 {width: 87%;}
.width88 {width: 88%;}
.width89 {width: 89%;}
.width90 {width: 90%;}
.width91 {width: 91%;}
.width92 {width: 92%;}
.width93 {width: 93%;}
.width94 {width: 94%;}
.width95 {width: 95%;}
.width96 {width: 96%;}
.width97 {width: 97%;}
.width98 {width: 98%;}
.width99 {width: 99%;}
.width100 {width: 100%;}
