@font-face {
font-family: font_text;
src: url(fonts/Letters_for_Learners.ttf);
}
@font-face {
font-family: font_icons;
src: url(fonts/Icons_South_St.ttf);
}

.icon {
  font-family:font_icons;
  font-size:25px;
  font-color:grey;
  position: absolute;
  left: -35px;
}
#login {
  width: 30%;
  height: 50%;
  font-family: font_text;
  position: absolute;
  top: 15%;
  left: 35%;
  border-radius: 35px;
  display: flex;
  align-content: center;
  background-color: #f0f8ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.username {
  font-family: font_text;
  font-size: 35px;
  line-height: 1.5;
  color: grey;

  position: absolute;
  top: 10%;
  left: 15%;
  width: 60%;
  height: 50px;
  border-radius: 15px;
  background: #A0D6FD;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  border-style: hidden;
}
.username:hover {
  color: black;
}
.username:focus {
  color: black;
}
#Username{
  position: absolute;
  left: 10px;
  top: 0px;
  background-color: #A0D6FD;
  border-style: hidden;
  width: 80%;
}

.password {
  font-family: font_text;
  font-size: 35px;
  line-height: 1.5;
  color: grey;

  position: absolute;
  top: 30%;
  left: 15%;
  width: 60%;
  height: 50px;
  border-radius: 15px;
  background: #A0D6FD;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  border-style: hidden;
}
.password:hover {
  color: black;
}
.password:focus {
  color: black;
}
#Password{
  position: absolute;
  left: 10px;
  top: 0px;
  background-color: #A0D6FD;
  border-style: hidden;
  width: 80%;
}
#btn {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 30%;
  height: 10%;
  font-size: auto;
  text-align: center;
  border-radius: 10px;
}
#Warning {
  font-family: font_text;
  font-size: 35px;
  color: black;
  text-align: center;
  text-transform: uppercase;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
input {
  font-family: font_text;
  font-size: 30px;
  color: white;
  background-color: grey;
}
button {
  font-family: font_text;
  font-size: 30px;
  color: white;
  background-color: #165ac9;
  border: none;
}
body {
  text-align: center;
  background-image: linear-gradient(141deg, #A0D6FD, #f0f8ff);
}
